body {
    background-color: #f5edd9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#logo {
	width: 100px;
	height: auto;
}
header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 1rem;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;

}
nav ul li a:hover {
    color: #001ec7;
}

.header-images {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

#img-header {
    width: 800px;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #2c2a2a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    height: 3rem;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.contact ul {
    display: flex;
    
}

.contact ul li a {
    color: white;
    text-decoration: none;
    margin: 1rem;
}

.contact ul li {
    list-style: none;
}

.mision , .services, .proposal { 
    margin: 1rem;
}